
/* This is a partial blocks.css, you need to add more rules
   to this file to complete the assignment.  Do not add any CSS
   styling to the original index.htm / start.htm */

body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

div{
    width: 25%;
    position: fixed;
}

/* Here is one of many  CSS rules you will need... */
#one {
    border-style: solid;
    border-color: blue;
    border-width: 5px;
    bottom: 20px;
    right: 20px;
}

#two {
    border-style: solid;
    border-color: green;
    border-width: 5px;
    top: 20px;
    right: 20px;
}

#three {
    border-style: solid;
    border-color: orange;
    border-width: 5px;
    top: 20px;
    left: 20px;
}

#four {
    border-style: solid;
    border-color: yellow;
    border-width: 5px;
    bottom: 20px;
    left: 20px;
}

#link{
    position: fixed;
    left: 50%;
    transform: translate(-50%, -50%);
}

#link a{
    background-color: darkgreen;
    text-decoration: none;
}

#link a:link{
    color: white;
}
